@model IEnumerable<ProgBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}


<div class="blog-header col-lg-offset-3">
    <h1><strong>Programmer's</strong> Blog</h1>
</div>

@Html.Partial("_Posts", Model)
