html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
 table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  
 figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, 
 time, mark, audio, video { 
 	margin: 0; 
 	padding: 0; 
 	border: 0; 
 	font-size: 100%; 
 	vertical-align: baseline; 
 } 
 
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
 	display: block; 
 } 
 
 body { 
 	line-height: 1.2; 
 } 
 ol {  
 	padding-left: 1.4em; 
 	list-style: decimal; 
 } 

 table { 
 	border-collapse: collapse; 
 	border-spacing: 0; 
 }  
 /* end reset browser styles */ 
 
 
 html { 
 	background-color: #6F3BA4; 
 } 
 body { 
 	background: url(../image/bg_about.jpg) no-repeat fixed left top; 
 } 

 header { 
 	width: 900px; 
 	margin-right: auto; 
 	margin-left: auto; 
 	height: 115px; 
	padding-left: 350px;
 } 
 header h1 {
	font-size: 120px;
	color: white;
	line-height: 1em;
	text-shadow: 4px 3px 6px rgba(0,0,0,.5);
	position: absolute;
	opacity: 0.9;
}
 
 
header h1 strong {
	
	color: #FF6600;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 0.5em;
	margin-right: -3.25em;
	opacity: 0.9;
}
 
 nav { 
 	border-top: 1px dashed #6F3BA4; 
 	border-bottom: 1px dashed #6F3BA4; 
 	overflow: hidden; 
	width: 900px; 
	margin-left: 500px;
 } 
  .mainNav ul li { 
 	margin: 0px; 
 	padding: 0px; 
 	list-style: none; 
 	float: left; 
 } 
 .mainNav ul{ 
 	padding: 0 0 0 225px; 
 	width: 900px; 
 	margin: 0 auto; 
 } 
 .mainNav ul a { 
 	display: block; 
 	padding: 5px 20px; 
 	text-decoration: none; 
 	color: #6F3BA4; 
 	font: 14px Tahoma, Geneva, sans-serif; 
 } 
 
 .mainNav a:hover { 
   background-color: #F5E281; 
 } 
 
 
 .content { 
 	width: 900px; 
 	margin: 0 auto; 
 	overflow: hidden; 
 	padding-bottom: 40px; 
	background-color: rgba(255, 255, 255, 0.7); /* Цвет фона и значение прозрачности */
 } 
 article { 
 	float: left; 
 	width: 630px; 
 	padding-top: 30px; 
 	font-family: Tahoma, Geneva, sans-serif; 
 } 
 
article p { 
 	font-size: 14px; 
 	line-height: 150%; 
 	margin-bottom: 10px; 
 } 
 article ol, article ul { 
   margin-bottom: 10px; 
   margin-left: 20px; 
 } 
 
 
article li { 
   font-size: 14px; 
 } 
 
 
 article h2 { 
 	color: #333; 
 	font-size: 20px; 
 	margin-top: 20px; 
 	margin-bottom: 5px; 
 } 
 article h1 { 
 	color: #6F3BA4; 
 	font: 30px "Palatino Linotype", "Book Antiqua", Palatino, serif; 
 	border-bottom: 1px solid #FFF; 
 	margin-bottom: 20px; 
 } 
 
 article a { 
 	text-decoration: none; 
 	color: #6F3BA4; 
 	font: 14px Tahoma, Geneva, sans-serif; 
   font-weight: bold; 
 } 
 article ul { 
 	padding-top: 10px; 
 } 

 
 aside { 
 	 
 	float: right; 
 	width: 220px; 
 	margin-top: 60px; 
 } 


  aside p { 
 	margin-bottom:10px; 
 	color: #512C76;
	font-family: Tahoma, Geneva, sans-serif; 
 	font-size: 12px; 
 } 
  
 aside p:first-line { 
   font-weight: bold; 
 } 
   .sidenav { 
  background: url(../image/screen.png); 
 	margin: 0 0 30px 0; 
 	padding: 0px; 
 	list-style: none; 
 	border-bottom: 1px dotted #FFF; 
 } 
  .sidenav a { 
 	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
 	text-decoration: none; 
 	padding: 5px 10px; 
 	display: block; 
 	border-top: 1px dotted #FFF; 
 	color: #900; 
 } 
 .sidenav a:hover { 
 	background-color: #F1CD1D; 
 } 
 
 

 
 
 .home .mainNav a.homeLink, 
 .news .mainNav  a.newsLink, 
 .about .mainNav  a.aboutLink, 
 .forum  .mainNav a.forumLink { 
 	color: #999;	 
	background-image: url(../image/link_arrow.png); 
 	background-repeat: no-repeat; 
 	background-position: 10px 12px; 
	padding-left: 26px; 
 
 
 } 
 
 
 .home .footerNav a.homeLink, 
 .news .footerNav a.newsLink, 
 .about .footerNav a.aboutLink, 
 .forum .footerNav a.forumLink { 

 background-position: 5px 6px; 
 
 
 
 } 
 
 
 
footer { 
 	width: 900px; 
 	margin-right: auto; 
 	margin-left: auto; 
 	overflow: hidden; 
 	padding: 20px 0; 
	background: #6F3BA4; 
 	clear: both; 
 } 
 

 
 .footerMain { 
  	 padding-left: 280px; 
	 margin-top: 11px;
 } 
 .footerMain p { 

 	font: 12px Tahoma, Geneva, sans-serif; 
 	color: #C0C0C0; 
 } 
 
 
 .footerNav ul { 
 	margin: 0px; 
 	padding-left: 350px; 
 	list-style: none; 
	
	   
 }
.footerNav ul li{
	 display: inline
} 
 .footerNav a { 
 	font: 13px Tahoma, Geneva, sans-serif; 
 	color: #CDAAFF; 
 	text-decoration: none; 
 	display: inline; 
 	padding: 3px 10px; 
 	
 } 
 
 
 
 
 
 