@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<div class="row blog-header">
    <div class="col-lg-9 col-lg-offset-1">

        <h2>The Birth of Blogs:</h2>
        <blockquote>
            <p>
                The earliest blogs started in the late 1990s as online diaries. Individuals posted information on a daily basis about their lives and opinions. The daily posts were listed in reverse date order, so readers viewed the most recent post first and scrolled through previous posts.

                The format provided an ongoing inner monologue from the writer.

                As blogs evolved, interactive features were added to create a two-way conversation. Readers took advantage of features that allowed them to leave comments on blog posts or link to posts on other blogs and websites to further the dialogue.

                Ads
                Create a Blog
                How to Start a Blog
                Online Marketing Blog
                Free Blog Layouts
                Start Your Own Blog
                Blogs Today:

                As the Internet has become more social, blogs have gained in popularity. Today, there are over 100 million blogs with more entering the blogosphere everyday. Blogs have become more than online diaries. In fact, blogging has become an important part of the online and offline worlds with popular bloggers impacting the worlds of politics, business and society with their words.

                The Future of Blogs:

                It seems inevitable that blogging will become even more powerful in the future with more people and businesses recognizing the power of bloggers as online influencers. Anyone can start a blog thanks to the simple (and often free) tools readily available online. The question will likely become not, "Why should I start a blog?" but rather, "Why shouldn't I start a blog?"
            </p>
        </blockquote>

        <h2>The Future of Blogs:</h2>
        <blockquote>
            <p>It seems inevitable that blogging will become even more powerful in the future with more people and businesses recognizing the power of bloggers as online influencers. Anyone can start a blog thanks to the simple (and often free) tools readily available online. The question will likely become not, "Why should I start a blog?" but rather, "Why shouldn't I start a blog?"</p>
        </blockquote>

    </div>
</div>
        